# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Database
*.db
*.sqlite3

# Streamlit
.streamlit/

# Node.js
node_modules/
package-lock.json
package.json

# OS & Temp
.DS_Store
Thumbs.db
*.crdownload
*.tmp

# Markdown Exclusion (Only push README.md)
*.md
!README.md
!**/README.md
